{% load bootstrap3 %}
{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <link rel="shortcut icon" href="../static/image/sigi.jpeg" style="border-radius: 50%"/>


    {% block styles %}
        {% bootstrap_css %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% endblock %}


</head>
<body>
<div class="top" style="height: 500px;padding-top: 0px">

<div id="top">
{#    <img src="{% static 'image/sigi.jpeg' %}" id="sigi" style="border-radius: 50%">#}
    <h1 id="brian">Brian Sigilai</h1>
    <h4>Full stack developer</h4>
     <img src="{% static 'image/sigi.jpeg' %}" style="border-radius: 50%;width: 295px;" >

</div>
    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     {% bootstrap_javascript %}
    {% endblock %}

</div>
<div id="body">
<div class="about">
    <h1>About me</h1>
    <p id="about">I am passionate about using technology to solve world problems and when am not coding I love Swimming and Hiking
     as well.</p>
</div>

   <section class="gallery-block cards-gallery">
	    <div class="container">
	        <div class="heading">
	          <h2 id="projects">Projects</h2>
	        </div>
	        <div class="row">
                {% for img in images %}
	            <div class="col-xs-8 col-md-6 col-lg-4"  >
	                <div class="card border-0 transform-on-hover" >
	                	<a class="lightbox" href="{{ img.link }}">
	                		<img src="{{ img.post_image.url }}" alt="Card Image" class="card-img-top" width="100%" height="100%">
	                	</a>
	                    <div class="card-body">
	                        <h6><a href="{{ img.link }}">{{ img.title }}</a></h6>
	                        <p class="text-muted card-text">{{ img.description }}</p>
	                    </div>
	                </div>
	           </div>
        {% endfor %}
	        </div>
	    </div>
    </section>


<div class="container" id="skill-cont">
    <h1 id="skills">Skills</h1>
    <div class="row">
      <div class="col-md-5 col-lg-3">
     <img src="{% static 'image/js.png' %}" class="skills" >
        </div>
        <div class="col-md-5 col-lg-3">
<img src="{% static 'image/ang.png' %}" class="skills">
        </div>
          <div class="col-md-5 col-lg-3">
<img src="{% static 'image/kot.png' %}" class="skills">
          </div>
      <div class="col-md-5 col-lg-3">
<img src="{% static 'image/boot.png' %}" class="skills">
         </div>
         <div class="col-md-5 col-lg-3">
<img src="{% static 'image/py.png' %}" class="skills">
         </div>
         <div class="col-md-5 col-lg-3">
  <img src="{% static 'image/php.png' %}" class="skills">
         </div>
         <div class="col-md-5 col-lg-3">
 <img src="{% static 'image/flask-logo.png' %}" class="skills">
         </div>
       <div class="col-md-5 col-lg-3">
           <img src="{% static 'image/jango.png' %}" class="skills">

         </div>
         <div class="col-md-5 col-lg-3">
 <img src="{% static 'image/postgresql.png' %}" class="skills">
         </div>
         <div class="col-md-5 col-lg-3">
<img src="{% static 'image/mysql.png' %}" class="skills">
         </div>
    </div>
</div>
<div class="bot">
<h1 id="contacts">Contacts</h1>
    <h2><span class="glyphicon glyphicon-map-marker"></span>Nairobi</h2>
    <h2> <span class="glyphicon glyphicon-envelope"></span>briansigilai@gmail.com</h2>
    <h2> <span class="glyphicon glyphicon-phone"></span>+254792071275</h2>
<p class="bot-text">&copy;Brian Kiprono Sigilai {% now "Y" %}</p>
</div>


</div>
</body>
</html>